default: &default
  adapter: postgresql
  encoding: unicode
  reconnect: false
  host: localhost
  port: <%= ENV["PGPORT"] || 5432 %>
  username: postgres
  password: postgres
  template: template0

development:
  <<: *default
  database: my_company_dev

test:
  <<: *default
  database: my_company_test

production:
  <<: *default
